.Header {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    .title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 48px;
    }
    .text{
        font-size: 24px;
        color: rgba(0, 0, 0, 0.6);
    }
    img{
        position: relative;
        bottom: -5px;
    }
}