.Header {
    padding: 0 73px 0 50px;
    display: flex;
    justify-content: space-between;
    background: #EEEEEE;
    height: 110px;
    .title {
        font-weight: bold;
        margin-top: 20px;
        font-size: 48px;
    }
    .text{
        font-size: 24px;
        color: rgba(0, 0, 0, 0.6);
    }
    img{
        position: relative;
        bottom: -5px;
    }

}
@media (max-width: 768px) {
.Header{
    .title{
        font-size: 30px;
        line-height: 37px;
        margin-top: 15px;
    }
    .text{
        font-size: 16px;
        line-height: 19px;
    }
    img{
        width: 240px;
        height: 90px;
        bottom: -20px;
    }
}
}